<%- include('../../shared/includes/head', {pageTitle: 'Order Failed'}) %>

</head>
<body>
  <%- include('../../shared/includes/header')%>
  <main>
    <h1>Order Failed</h1>
    
      
  </main>
  
<%- include('../../shared/includes/footer') %>