<%- include('../../shared/includes/head', {pageTitle: 'Order Success'}) %>

</head>
<body>
  <%- include('../../shared/includes/header')%>
  <main>
    <h1>Order Successfull</h1>
  
  </main>
  
<%- include('../../shared/includes/footer') %>